.video {
    max-width: 1540px;
    margin: 0 auto 242px;
    padding: 0 50px;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .video {
        padding: 0 35px;
        margin: 0 auto 160px;
    }
}

.video__img {
    background-image: url('../../images/video/video-img.jpg');
    background-position: 50%;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .video__img {
        height: 390px;
        padding: 0;
    }
}

.video__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.7;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .video__title {
        font-size: 24px;
    }
}

.video__iframe {
    position: absolute;
    visibility: hidden;
    width: 95%;
    height: 80vh;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .video__iframe {
        width: 100%;
        height: 33vh;
    }
}

.video__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all .2s;
}

.video__button:hover{
    transform: scale(1.03);
    opacity: 0.8;
}

.video__button:active{
    transform: scale(0.97);
    opacity: 1;
}

.video__overlay {
    position:absolute;
    width:99vw;
    height:150vh;
    visibility: hidden;
}